/* SOBRE */
main {
    margin: 90px;
    z-index: 1002;
    position: relative;
}
.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 15px;
    margin: 10px;
    color: white;
}
strong {
    text-decoration: underline;
}
@media screen and (max-width: 788px) {
    main {
        margin: 90px 30px;
    }
    .about {
        
    }
}
