:root {
    --cor-bege: #EABFA7;
    --cor-fonte: white;
    --cor-destaque: #E58992;
    --cor-fundo: #5BCEAD;
}
.main_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: var(--cor-fonte);
    z-index: 2;
    position: relative;
    margin: 110px 60px;
}
.menu_busca_box {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.menu_busca_box-campoBusca {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-right: 2px solid var(--cor-fonte);
    padding-right: 20px;
}
.btn_pesquisar, .btn_filtrar, .btn_lista {
    cursor:pointer;
}
.campoBusca {
    width: 20em;
    padding: 10px;
    border-radius: 10px;

}
.menu_busca_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.menu_busca_box img {
    width: 1.5em;
}
.menu_busca_box-icones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.menu_busca_box-icones button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--cor-fonte);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor-fonte);
    cursor: pointer;
}
.list_content {
    color:black;
    background-color: none;
    padding: 10px;
    border-radius: 10px;
}
.list_content ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.list_content ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--cor-fundo);
    gap: 8px;
}
.main_box-descricao {
    padding: 10px 30px;
    text-align: center;
    border-bottom: 1px solid var(--cor-fonte);
}

.list_content ul li h3 {
   
    text-align: center;
}
.list_content ul li p {
    text-align: justify;
}
.geolink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;  
}
.geolink a {
    color: var(--cor-fonte);
    text-align: center;
    background-color: var(--cor-destaque);
    padding: 10px 20px;
    border-radius: 10px;;
}
@media screen and (max-width: 788px) {
    .menu_busca_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
    .menu_busca_box-campoBusca {
        border-right: none;
        padding-right: 20px;
    }
    .campoBusca {
        width: 12em;
        padding: 10px;
        border-radius: 10px;
    }
    #btn_lista {
        width: 244px;
        display: flex;
        justify-content: center;

    }
}
