/* MAP */
main {
    background-color: #FFEBB2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.map_zone {
    background-color: #D895DA;
    height: 75%;
    width: 90%;
}