/* MAP */
main {
  background-color: #e2fff6;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}
#map {
  /* margin-top: 5.8vh; */
  margin-top: 80px;
  height: 70vh;
  width: 100%;
}

#location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
#location h1 {
  margin-bottom: 20px;
}

#location button {
  background-color: #603F8B;
  color: #e2fff6;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  box-shadow: 3px 3px 3px grey;
  margin-bottom: 10px;
}
#location button:hover {
  background-color: #603F8B;
}
#location,
#restaurant {
  margin-bottom: 2rem;
}

ul {
  list-style-type: none;
}
#institution li {
  background-color: #d9bcff;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px grey;
}