:root {
  --cor-bege: #EABFA7;
  --cor-button: #f8e8e0;
  --cor-fonte: white;
  --cor-destaque: #E58992;
  --cor-fundo: #5BCEAD;
}
/* MAP */
main {
  background-color: var(--cor-fonte);
  margin: 90px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}
#location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px 0px;
}
#location h1 {
  text-align: center;
}
#map {
  margin-top: 5.8vh;
  height: 70vh;
  width: 100%;
}
#getLocation {
  background-color: var(--cor-button);
  color: var(--cor-destaque);
  border: 2px solid var(--cor-destaque);
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
}
button:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-fonte)
}
.getLocation_user_location{
  display: none;
}
#institution {
  display: none;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--cor-destaque);
  padding: 20px 30px;
  border-radius: 10px;
}
.telefone {
  border-bottom: 2px dashed var(--cor-destaque);
  padding-bottom: 10px;
}
