/* STANDARD STYLES */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

/* HEADER */
header {
  background-color: #002de1;
  position: fixed;
  height: 50px;
  padding: 4px;
  width: 100%;
  box-sizing: border-box;
}
.logo_menu_zone {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-left: 15px;
  box-sizing: border-box;
}
.logo_zone a {
  color: #ffffff;
  box-sizing: border-box;
}
.logo_zone a img{
  box-sizing: border-box;
  height: 80px;
}
.header_menu_zone {
  display: none;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header_menu_zone a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  height: 100%;
  padding: 0 10px 0 10px;
  transition: 0.2s;
}
.header_menu_zone a:hover {
  background-color: #bc7fcd;
}
.button_collapse_menu {
  background-color: #002de1;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 15px;
}
.menu_collapse {
  background-color: #bc7fcd;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  width: 100%;
}
.menu_collapse a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  padding: 10px 0 10px 0;
  transition: 0.2s;
}
.menu_collapse a:hover {
  background-color: #86469c;
}

/* FOOTER */
footer {
  background-color: #002de1;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 0 10px 0;
  height: 35px;
}
.footer-container {
  display: flex;
  flex-flow: row nowrap;
}
.footer-icon {
  flex: 1;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.footer-icon img {
  width: 30px; 
  height: 30px;
}

/* RESPONSIVENESS - MEDIA QUERIES */

/* SMALL */

/* MEDIUM */

/* LARGE */
@media (min-width: 770px) {
  .header_menu_zone {
    display: flex;
  }
  .collapse_menu_zone {
    display: none;
  }
}

/* HUGE */
