/* STANDARD STYLES */
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  transition: 0.2s;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #5BCEAD;
  display: flex;
  flex-direction: column;
}
.shape_left {
  position: fixed;
  top: 0px;
  left: -10px;
  z-index: 1;
}
.shape_left-img {
  width: 15.5em;
}

/* ----- MAIN ------- */
.shape-right {
  position: fixed;
  top: 6.25em;
  right: 0px;
  z-index: 1;
}
.shape-right img {
  width: 4em;
}
.shareheart-logomarca {
  z-index: 3;
}
.shareheart-logomarca img {
  width: 20em;
}
@media screen and (max-width: 700px) {

}
